@import "tailwindcss";

:root {
  --color-background: #0a192f;
  --color-primary: #64ffda;
  --color-secondary: #8892b0;
  --color-heading: #ccd6f6;
  --color-paragraph: #8892b0;
  --font-sans: 'Inter', sans-serif;
}

body{
  background-color: var(--color-background);
  color: var(--color-paragraph);
  font-family: var(--font-sans)
}

.bg-custom-background{
  background-color: var(--color-background);
}
.text-custom-primary{
  color: var(--color-primary);
}

.text-custom-secondary{
  color: var(--color-secondary)
}
.text-heading{
  color: var(--color-heading);
}

.border-custom-primary{
  color: var(--color-primary)
}